:root {
    --color-primary: #272935;
    --color-secondary: #f0ebe4;
}

html {
    font-size: 62.5%

}

*,*::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
    background-color: var(--color-secondary);
}

h1,
h2,
h3,
h4{
    margin-bottom: 1rem;
    color: var(--color-primary);
    line-height: 1.1;
}

h1 {
    font-size: 5.5rem;

}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 2.6rem
}

.heading--secondary {
    color: white;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 4.8rem;
    }

    h3 {
        font-size: 4rem;
    }

    h4 {
        font-size: 2.4rem
    }
}


/* Badges */
.badge {
    border-radius: 20px;
    font-size: 1.6rem;
    padding: 0.2rem 1rem;
    white-space: nowrap;
}

.badge--primary {
    background: var(--color-primary);
    color: white;
    text-shadow: #FFFFFF 0 0 0.15em;
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.4rem;
    }
}

/* Button */
.btn {
    border-radius: 10px;
    border: 2px solid white;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1.5rem 3rem;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s;
    white-space: nowrap;
    display: inline-block;
}

.btn--primary{
    background-color: transparent;
    box-shadow: #FFFFFF 0 0 0.15em;
    color: white;
    text-shadow: #FFFFFF 0 0 0.15em;
}

.btn--primary:hover {
    background-color: white;
    color: var(--color-primary);
}

.btn--block {
    width: 100%;
    display: inline-block;
    margin-top: 1rem;
}


/* Cards */
.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 2px lightgray;
    background-color: rgba(201, 200, 199, 0.63);
    margin: 2rem 1rem;
}
.card__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card__header, .card__footer {
    padding: 1rem 2rem;
}

.card__title::before {
    content: "@";
}

.card__title {
    margin: 0;
}

.card__subtitle {
    font-size: 1.5rem;
    font-style: italic;
}

.card__body{
    color: var(--color-primary);
    font-size: 1.5rem;
    padding : 0 2rem;
}

.card__footer {
    color: var(--color-primary);
    font-size: 1.4rem;
    font-weight: 700;
}

/* Blocks */
.block{
    --padding-vertical: 6rem;
    padding: var(--padding-vertical) 2rem;
}

.block__header {
    text-align: left;
    margin-bottom: 4rem;
}
.block__heading{
    margin-top: 0;
}

.block--dark{
    background: var(--color-primary);
    text-shadow: #FFFFFF 0 0 0.3em;
    box-shadow: #FFFFFF 0 0 0.3em;
    color: white;
}

.block--dark .block__heading {
    color: white;
}

.block--skewed-right {
    padding-bottom: calc(var(--padding-vertical) + 10rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.block--skewed-left {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* Grids */

.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: 1fr 1fr;
    }
}


/* Collapsibles */

.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
}

.collapsible__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    max-height: 100%;
    opacity: 1;
}

/* Lists */

.list {
    list-style: none;
    padding-left: 0;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

/* Links */

a {
    text-decoration: none;

}

/* Logo */

.logo {
    padding: 5px;
    height: 40px;
}

/* Icons */

.icon {
    width: 40px;
    height: 40px;
}

.icon--white, .logo--white{
    filter: brightness(0) invert(1) drop-shadow(0px 0px 3px #FFFFFF);
}

/* Navigation Bar */
.nav{
    background: var(--color-primary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
    text-shadow: #FFFFFF 0 0 0.5em;
}
.nav__list {
    width: 100%;
    margin: 0;
}

.nav__item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid grey;
}

.nav__item:last-of-type {
    border-bottom: none;
}

.nav__item>a {
    color: #fff;
    transition: color 0.3s;
}

.nav__item>a:hover {
    color: #d2d0db;
}

.nav__toggler {
    transition: box-shadow 0.15s;
}

.nav.collapsible--expanded .nav__toggler {
    opacity: 1;
}

.nav__brand {
    transform: translateY(5px);
    width: 150px;
}

@media screen and (min-width: 768px) {
    .nav__toggler {
        display: none;
    }
    .nav__list {
        width: auto;
        display: flex;
        font-size: 1.6rem;
        max-height: 100%;
        opacity: 1;
    }
    .nav__item {
        border: 0;
    }
}

/* Hero */
.hero {
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.hero__tagline {
    font-size: 2rem;
    letter-spacing: 1px;
    margin: 2rem 0 5rem;
}

.hero__image{
    width: 100%;
    margin-top: 12rem;
    filter: brightness(0) invert(1) drop-shadow(0px 0px 3px #FFFFFF);
}

@media screen and (min-width: 768px) {
    .hero{
        padding-top: 0;
    }

    .hero__content {
        text-align: left;
        align-self:  center;
    }

    .hero .grid--1x2 {
        grid-template-columns: 2fr 1fr;
    }
}

/* About me */

.about {
    color: var(--color-primary);
    padding-top:  4rem;
}
.about__image{
    max-width: 200px;
    align-self: end;
    filter: invert(13%) sepia(24%) saturate(534%) hue-rotate(193deg) brightness(94%) contrast(91%);
    justify-self: center;
}


@media screen and (min-width: 768px) {

    .about .grid--1x2 {
        grid-template-rows: auto;
        grid-template-columns: 60% 1fr;
    }
}


/* Skills */

.skill {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}


.skill__content {
    padding: 0 2rem;
}

.skill__item h4 {
    color : white;
    margin-top: 3rem;
}



.skill__bar {
    width: 100%; /* Full width */
    background-color: #817f7f; /* Grey background */
    height: 10px;
}
.skill__bar--java {
    height: 10px;
    width: 85%;
    background-color: #2bf5f5;
}
.skill__bar--net {
    height: 10px;
    width: 70%;
    background-color: #d51e80;
}
.skill__bar--sql {
    height: 10px;
    width: 85%;
    background-color: #9ad944;
}
.skill__bar--html {
    height: 10px;
    width: 70%;
    background-color: #e14124;
}
.skill__bar--js {
    height: 10px;
    width: 80%;
    background-color: #e5d627;
}
.skill__bar--docker {
    height: 10px;
    width: 60%;
    background-color: #0f7bc7;
}
.skill__bar--jenkins {
    height: 10px;
    width: 60%;
    background-color: #ffffff;
}


#skill__canvas {
    width: 100%;
}


.skill__cloud {
    padding: 1rem;
    align-self: center;
}

@media screen and (min-width: 768px) {
    .skill{
        padding-top: 4rem;
    }

    .skill__content {
        text-align: left;
    }
}


/* Resume */
.resume__header {
text-align: center;
font-style: italic;
}

/* Contact */
.contact__header {
    margin-bottom: 5rem;

}


.contact__content, .contact__footer{
    text-align: center;
}

.contact__icon{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5rem;
    margin: 10rem auto;
    align-items: center;
    text-shadow: #FFFFFF 0 0 0.5em;
}

.icon__image{
    width: 128px;
    margin: 1rem;
    filter: brightness(0) invert(1) drop-shadow(0px 0px 3px #FFFFFF);
}